<h1><%= @pirate.name%> </h1>
<h3><%= @pirate.weight %> pounds</h3>
<h3><%= @pirate.height %> inches</h3>
<br/><br/><br/>
<h2><%= @ships[0].name%></h2>
<h3><%= @ships[0].type %></h3>
<h3><%= @ships[0].booty %></h3>
<br/><br/><br/>
<h2><%= @ships[1].name%></h2>
<h3><%= @ships[1].type %></h3>
<h3><%= @ships[1].booty %></h3>